body {
background-color: var(--tg-theme-bg-color);
color: var(--tg-theme-text-color);
font-family: Arial, sans-serif;
padding: 15px;
}


h1 { text-align: center; }


.card {
background-color: var(--tg-theme-secondary-bg-color);
padding: 15px;
margin-bottom: 15px;
border-radius: 12px;
}


button {
width: 100%;
background-color: var(--tg-theme-button-color);
color: var(--tg-theme-button-text-color);
border: none;
padding: 12px;
border-radius: 10px;
font-size: 16px;
}
